/* 
# {} is used for id
. {} is used for class (can be shared multiple times)
{} is used for tag 
*/

#count {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

#app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

footer {
    position: absolute;
    margin-right: 20px;
    margin-top: 10px;
    bottom: 0;
    right: 0;
    background-color: burlywood;
}

ul {    
    padding: 0;
    list-style-type: none;
}

.dl {
    list-style-type: none;
}

.task {
    flex: 1;
    background-color: cadetblue;
}

.time {
    flex: 1;
    background-color: rgb(130, 160, 95);
}

.input {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 5px; 
   background-color: aliceblue;
   border: 1px solid #ccc;
}

.input-section {
    display: flex;
    justify-content: space-around;
    flex: 3;
    padding: 5px;
    background-color: rgb(197, 138, 138);
}

.button-section {
    display: flex;
    justify-content: space-around;
    flex: 2;
    padding: 5px;
    background-color: rgb(150, 150, 231);
}

.display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 10px;
    background-color: rgb(240, 240, 169);
    height: 100px;
}

.lists {
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: rgb(169, 238, 240);
}

.task-list {
    display: flex;
    flex: 1;
    padding: 5px;
    background-color: rgb(218, 130, 152);
}

.todo-container {
    display: flex;
    flex: 1; 
    padding: 10px;
    background-color: rgb(17, 20, 13);
}

.done-list {
    display: flex;
    flex: 1;
    background-color: rgb(161, 130, 218);
}

/* input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
  
  input[type="checkbox"]::before {
    content: "\2713";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 1.7rem;
    text-align: center;
    border: 0.06rem solid var(--gray-border);
    border-radius: 50%;
    color: transparent;
  }

 .disabled {
  display: flex;
  text-decoration: line-through;
}

.counter {
  border: 0.06rem solid var(--gray-light);
}  